@import 'fn.less';
page {
  line-height: 1.71428571;
  font-size: 14px;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  color: #444;
}

icon {
  vertical-align: middle;
}

.tc {
  text-align: center;
}

.dsc {
  color: #999;
  font-size: 14px;
}

.ib {
  display: inline-block;
}

.gjc-row {
  margin: -5px;
  .mix-clearfix();
  .gjc-col {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
  }
}

.gjc-tag {
  padding: 3px 5px;
  background: @c;
  color: #fff;
  border-radius: 3px;
  &.tag-success {
    background: #38f;
  }
}

.gjc-btn {
  line-height: 44px;
  height: 44px;
  background-color: @c;
  color: #fff;
  font-size: 16px;
  &[disabled] {
    /* 防止样式被 button[disabled] 的规则覆盖，所以使用了important */
    color: #999 ! important;
    background: #eee ! important;
    border-color: #ddd ! important;
    pointer-events: none;
    cursor: not-allowed ! important;
    opacity: 1 ! important;
    &::after {
      border-color: #ddd ! important;
    }
  }
  &:after {
    border: none;
  }
}

.gjc-navbar {
  height: 46px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  .left {
    bottom: 0;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 15px;
  }
  .right {
    bottom: 0;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 15px;
  }
}

.gjc-cellgroup {
  background-color: #fff;
  &:before {
    .setTopLine();
  }
  &:after {
    .setBottomLine();
  }
  .gjc-cell {
    width: 100%;
    display: flex;
    padding: 10px 15px;
    box-sizing: border-box;
    line-height: 24px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    &:not(:last-child) {
      &:after {
        .setBottomLine();
        left: 15px;
      }
    }
  }
  .gjc-cell-title {
    flex: 1;
  }
  .gjc-cell-value {
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
  }
  .gjc-cell-lefticon {
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
  }
  .gjc-cell-righticon {
    color: #999;
    font-size: 12px;
    line-height: 24px;
    margin-left: 5px;
  }
}